MONDAY_API_TOKEN=cole_o_token_somente_na_vercel
MONDAY_BOARD_ID=1234567890
MONDAY_STAGE_COLUMN_ID=status
MONDAY_DATE_COLUMN_ID=date
MONDAY_OWNER_COLUMN_ID=person
MONDAY_UNIQUE_VALUE_COLUMN_ID=numbers
MONDAY_RECURRING_VALUE_COLUMN_ID=numbers_1
MONDAY_CHANNEL_COLUMN_ID=status_1
MONDAY_HEAT_COLUMN_ID=status_2
MONDAY_SEGMENT_COLUMN_ID=status_3
MONDAY_END_DATE_COLUMN_ID=date_1
MONDAY_PERSON_TYPE_COLUMN_ID=status_4
MONDAY_INSTALLMENTS_COLUMN_ID=numbers_2
MONDAY_PAYMENT_METHOD_COLUMN_ID=status_5
MONDAY_TAX_ID_COLUMN_ID=text_1
